body {
            z-index: 1;
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            z-index: 1;
            height: 100%;
            width: 100%;
        }

#search {
    z-index: 99;
	position: absolute;
	top: 10px; left: 40px;
	vertical-align: middle;	
}

#bouton {
    z-index: 2;
	background-color: white;
	border-radius: 5px;
}

#barre,#bouton{
    z-index: 2;
	vertical-align: middle;
}
