html
{
	background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
    background: linear-gradient(45deg, #00dbde, #fc00ff);
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
	font-size : 12pt;
}

#main h1
{
  text-align : center;
  font-size : 2em;
}

#main 
{
	border-radius: 20px;
	background-color : white;
	margin : 0 auto;
	width : 40%;
	position: absolute;
  top: 50%; /* poussé de la moitié de hauteur du référent */
  left : 50%;
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  padding-bottom : 1em;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari et Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.filet 
{
	border : none;
	margin : 0 auto;
	width : 20%;
	text-align : center;  
  margin-bottom : 0px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  text-align: center;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


.btnSubmit {
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
  color: #55acee;
  border: 2px #55acee solid;
  background-color: white;
}

.btnSubmit:hover {
  background-color: #55acee;
  color: #fff;
}


input[type="text"]
{
  border : hidden;
	border-bottom:2px solid #d9d9d9;
  height : 2em;
  width : 40%;
  font-size : 1em;
  margin : 0 auto;
}

input[type="text"]:focus {
  outline:none;
}

input[type="password"]
{
  border : hidden;
	border-bottom:2px solid #d9d9d9;
  height : 2em;
  width : 40%;
  font-size : 1em;
  margin : 0 auto;
}

input[type="password"]:focus {
  outline:none;
}

form
{
  text-align: center;
}

#error
{
	text-align: center;
}

@media screen and (max-width: 740px)
{
  #main h1
  {
    font-size : 1em;
  }
}

@media screen and (max-width: 361px)
{
  #main h1
  {
    font-size : 0.5em;
  }
}